# ================================== Nginx Module 配置 ==================================
- module: nginx

  # ================================== Access Log 配置 ==================================
  access:
    enabled: {{ access_enabled | default(true) | lower }}
    {% if access_paths %}
    var.paths:
      {% for path in access_paths %}
      - "{{ path }}"
      {% endfor %}
    {% endif %}
    input:
      fields:
        collector: "Filebeat"
        collect_type: "nginx"
        instance_id: "{{ instance_id }}"
      fields_under_root: {{ fields_under_root | default(true) | lower }}

  # ================================== Error Log 配置 ==================================
  error:
    enabled: {{ error_enabled | default(true) | lower }}
    {% if error_paths %}
    var.paths:
      {% for path in error_paths %}
      - "{{ path }}"
      {% endfor %}
    {% endif %}
    input:
      fields:
        collector: "Filebeat"
        collect_type: "nginx"
        instance_id: "{{ instance_id }}"
      fields_under_root: {{ fields_under_root | default(true) | lower }}

  # ================================== Ingress Controller Log 配置 ==================================
  ingress_controller:
    enabled: {{ ingress_controller_enabled | default(false) | lower }}
    {% if ingress_controller_paths %}
    var.paths:
      {% for path in ingress_controller_paths %}
      - "{{ path }}"
      {% endfor %}
    {% endif %}
    input:
      fields:
        collector: "Filebeat"
        collect_type: "nginx"
        instance_id: "{{ instance_id }}"
      fields_under_root: {{ fields_under_root | default(true) | lower }}
