.idea
*.tar
logs
.venv
__pycache__
*.pyc
*.pyo
.DS_Store
*.pyd
*.egg-info
*.egg
*.whl
*.db
*.sqlite
*.log
*.pid
*.pdb
*.cover
*.coverage
.pytest_cache
*.hypothesis
/models/
worktree/
.env
.lh
support-files/dev/conf/nats/certs/
agents/fusion-collector/agent/nats-executor
agents/fusion-collector/agent/telegraf
agents/fusion-collector/agent/vector
agents/fusion-collector/agent/mibs
agents/fusion-collector/agent/misc
agents/fusion-collector/agent/collector-sidecar

code-reviews/

**/enterprise/
!/enterprise/
!/enterprise/**
/web/enterprise
/web/src/app/(enterprise)/
/web/src/app/**/(enterprise)/
