# ================================== Elasticsearch Module 配置 ==================================
- module: elasticsearch

  # ================================== Server Log 配置 ==================================
  server:
    enabled: {{ server_enabled | default(true) | lower }}
    {% if server_paths %}
    var.paths:
      {% for path in server_paths %}
      - "{{ path }}"
      {% endfor %}
    {% endif %}
    input:
      fields:
        collector: "Filebeat"
        collect_type: "elasticsearch"
        instance_id: "{{ instance_id }}"
      fields_under_root: {{ fields_under_root | default(true) | lower }}

  # ================================== GC Log 配置 ==================================
  gc:
    enabled: {{ gc_enabled | default(false) | lower }}
    {% if gc_paths %}
    var.paths:
      {% for path in gc_paths %}
      - "{{ path }}"
      {% endfor %}
    {% endif %}
    input:
      fields:
        collector: "Filebeat"
        collect_type: "elasticsearch"
        instance_id: "{{ instance_id }}"
      fields_under_root: {{ fields_under_root | default(true) | lower }}

  # ================================== Audit Log 配置 ==================================
  audit:
    enabled: {{ audit_enabled | default(false) | lower }}
    {% if audit_paths %}
    var.paths:
      {% for path in audit_paths %}
      - "{{ path }}"
      {% endfor %}
    {% endif %}
    input:
      fields:
        collector: "Filebeat"
        collect_type: "elasticsearch"
        instance_id: "{{ instance_id }}"
      fields_under_root: {{ fields_under_root | default(true) | lower }}

  # ================================== Slowlog 配置 ==================================
  slowlog:
    enabled: {{ slowlog_enabled | default(false) | lower }}
    {% if slowlog_paths %}
    var.paths:
      {% for path in slowlog_paths %}
      - "{{ path }}"
      {% endfor %}
    {% endif %}
    input:
      fields:
        collector: "Filebeat"
        collect_type: "elasticsearch"
        instance_id: "{{ instance_id }}"
      fields_under_root: {{ fields_under_root | default(true) | lower }}

  # ================================== Deprecation Log 配置 ==================================
  deprecation:
    enabled: {{ deprecation_enabled | default(false) | lower }}
    {% if deprecation_paths %}
    var.paths:
      {% for path in deprecation_paths %}
      - "{{ path }}"
      {% endfor %}
    {% endif %}
    input:
      fields:
        collector: "Filebeat"
        collect_type: "elasticsearch"
        instance_id: "{{ instance_id }}"
      fields_under_root: {{ fields_under_root | default(true) | lower }}
