.env
/.idea/
/venv/
/logs/
static
*.sqlite3
*/__pycache__/
*.pyc
.pytest_cache
.coverage
htmlcov
token
assets/static
templates/index.prod.html
output
/models/
swagger.yml
USERRES
staticfiles/
local_settings.py
requirements.txt
dist
*.log
report.html
mlruns
uv.lock
docs/api/*
docs/*
ca.pem
*license_mgmt*